{% extends 'base.html' %}

{% block title %} About Kelby's Rcipes {% endblock %}


{% block body %} 

{% block pageDescription %}<meta
    name="description"
    content="Background information about Kelby's Recipes Web Application."
/>
{% endblock %}

<img src="../static/Logo.PNG" class="Logo" alt="kelby's Recipes Logo">
<br>
<br>

<h1>
    About Kelby's Recipes
</h1>
<br>
<p>
    This recipe database contains information and recipes for alcoholic drinks. This site is intended to be used by bartenders, restaurant employees, or anyone wanting to explore new beverages.
</p>


{% endblock %}